{
 "kind": "discovery#restDescription",
 "etag": "\"YWOzh2SDasdU84ArJnpYek-OMdg/bsAY-IFJVuG9FbzVCo5ZTE6TReM\"",
 "discoveryVersion": "v1",
 "id": "youtubePartner:v1",
 "name": "youtubePartner",
 "canonicalName": "YouTube Partner",
 "version": "v1",
 "revision": "20170911",
 "title": "Youtube Content ID API",
 "description": "API for YouTube partners. To use this API YouTube CMS account is required.",
 "ownerDomain": "google.com",
 "ownerName": "Google",
 "icons": {
  "x16": "https://www.google.com/images/icons/product/youtube-16.png",
  "x32": "https://www.google.com/images/icons/product/youtube-32.png"
 },
 "documentationLink": "https://developers.google.com/youtube/partner/",
 "protocol": "rest",
 "baseUrl": "https://www.googleapis.com/youtube/partner/v1/",
 "basePath": "/youtube/partner/v1/",
 "rootUrl": "https://www.googleapis.com/",
 "servicePath": "youtube/partner/v1/",
 "batchPath": "batch",
 "parameters": {
  "alt": {
   "type": "string",
   "description": "Data format for the response.",
   "default": "json",
   "enum": [
    "json"
   ],
   "enumDescriptions": [
    "Responses with Content-Type of application/json"
   ],
   "location": "query"
  },
  "fields": {
   "type": "string",
   "description": "Selector specifying which fields to include in a partial response.",
   "location": "query"
  },
  "key": {
   "type": "string",
   "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
   "location": "query"
  },
  "oauth_token": {
   "type": "string",
   "description": "OAuth 2.0 token for the current user.",
   "location": "query"
  },
  "prettyPrint": {
   "type": "boolean",
   "description": "Returns response with indentations and line breaks.",
   "default": "true",
   "location": "query"
  },
  "quotaUser": {
   "type": "string",
   "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
   "location": "query"
  },
  "userIp": {
   "type": "string",
   "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
   "location": "query"
  }
 },
 "auth": {
  "oauth2": {
   "scopes": {
    "https://www.googleapis.com/auth/youtubepartner": {
     "description": "View and manage your assets and associated content on YouTube"
    },
    "https://www.googleapis.com/auth/youtubepartner-content-owner-readonly": {
     "description": "View content owner account details from YouTube."
    }
   }
  }
 },
 "schemas": {
  "AdBreak": {
   "id": "AdBreak",
   "type": "object",
   "properties": {
    "midrollSeconds": {
     "type": "integer",
     "description": "The time of the ad break specified as the number of seconds after the start of the video when the break occurs.",
     "format": "int32"
    },
    "position": {
     "type": "string",
     "description": "The point at which the break occurs during the video playback."
    },
    "slot": {
     "type": "array",
     "description": "A list of ad slots that occur in an ad break. Ad slots let you specify the number of ads that should run in each break.",
     "items": {
      "$ref": "AdSlot"
     }
    }
   }
  },
  "AdSlot": {
   "id": "AdSlot",
   "type": "object",
   "properties": {
    "id": {
     "type": "string",
     "description": "A value that identifies the ad slot to the ad server."
    },
    "type": {
     "type": "string",
     "description": "The type of ad that runs in the slot. The value may affect YouTube's fallback behavior if the third-party platform does not return ads."
    }
   }
  },
  "AllowedAdvertisingOptions": {
   "id": "AllowedAdvertisingOptions",
   "type": "object",
   "properties": {
    "adsOnEmbeds": {
     "type": "boolean",
     "description": "This setting indicates whether the partner can display ads when videos run in an embedded player."
    },
    "kind": {
     "type": "string",
     "description": "This property identifies the resource type. Its value is youtubePartner#allowedAdvertisingOptions.",
     "default": "youtubePartner#allowedAdvertisingOptions"
    },
    "licAdFormats": {
     "type": "array",
     "description": "A list of ad formats that the partner is allowed to use for its uploaded videos.",
     "items": {
      "type": "string"
     }
    },
    "ugcAdFormats": {
     "type": "array",
     "description": "A list of ad formats that the partner is allowed to use for claimed, user-uploaded content.",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "Asset": {
   "id": "Asset",
   "type": "object",
   "properties": {
    "aliasId": {
     "type": "array",
     "description": "A list of asset IDs that can be used to refer to the asset. The list contains values if the asset represents multiple constituent assets that have been merged. In that case, any of the asset IDs originally assigned to the constituent assets could be used to update the master, or synthesized, asset.",
     "items": {
      "type": "string"
     }
    },
    "id": {
     "type": "string",
     "description": "An ID that YouTube assigns and uses to uniquely identify the asset.",
     "annotations": {
      "required": [
       "youtubePartner.assetMatchPolicy.update",
       "youtubePartner.ownership.update"
      ]
     }
    },
    "kind": {
     "type": "string",
     "description": "The type of the API resource. For asset resources, the value is youtubePartner#asset.",
     "default": "youtubePartner#asset"
    },
    "label": {
     "type": "array",
     "description": "A list of asset labels on the asset.",
     "items": {
      "type": "string"
     }
    },
    "matchPolicy": {
     "$ref": "AssetMatchPolicy",
     "description": "The matchPolicy object contains information about the asset's match policy, which YouTube applies to user-uploaded videos that match the asset."
    },
    "matchPolicyEffective": {
     "$ref": "AssetMatchPolicy"
    },
    "matchPolicyMine": {
     "$ref": "AssetMatchPolicy"
    },
    "metadata": {
     "$ref": "Metadata",
     "description": "The metadata object contains information that identifies and describes the asset. This information could be used to search for the asset or to eliminate duplication within YouTube's database."
    },
    "metadataEffective": {
     "$ref": "Metadata"
    },
    "metadataMine": {
     "$ref": "Metadata"
    },
    "ownership": {
     "$ref": "RightsOwnership",
     "description": "The ownership object identifies an asset's owners and provides additional details about their ownership, such as the territories where they own the asset."
    },
    "ownershipConflicts": {
     "$ref": "OwnershipConflicts",
     "description": "The ownershipConflicts object contains information about the asset's ownership conflicts."
    },
    "ownershipEffective": {
     "$ref": "RightsOwnership"
    },
    "ownershipMine": {
     "$ref": "RightsOwnership"
    },
    "status": {
     "type": "string",
     "description": "The asset's status."
    },
    "timeCreated": {
     "type": "string",
     "description": "The date and time the asset was created. The value is specified in RFC 3339 (YYYY-MM-DDThh:mm:ss.000Z) format.",
     "format": "date-time"
    },
    "type": {
     "type": "string",
     "description": "The asset's type. This value determines the metadata fields that you can set for the asset. In addition, certain API functions may only be supported for specific types of assets. For example, composition assets may have more complex ownership data than other types of assets."
    }
   }
  },
  "AssetLabel": {
   "id": "AssetLabel",
   "type": "object",
   "properties": {
    "kind": {
     "type": "string",
     "description": "The type of the API resource. For assetLabel resources, this value is youtubePartner#assetLabel.",
     "default": "youtubePartner#assetLabel"
    },
    "labelName": {
     "type": "string",
     "description": "Name of the asset label."
    }
   }
  },
  "AssetLabelListResponse": {
   "id": "AssetLabelListResponse",
   "type": "object",
   "properties": {
    "items": {
     "type": "array",
     "description": "A list of assetLabel resources that match the request criteria.",
     "items": {
      "$ref": "AssetLabel"
     }
    },
    "kind": {
     "type": "string",
     "description": "The type of the API response. For this operation, the value is youtubePartner#assetLabelList.",
     "default": "youtubePartner#assetLabelList"
    }
   }
  },
  "AssetListResponse": {
   "id": "AssetListResponse",
   "type": "object",
   "properties": {
    "items": {
     "type": "array",
     "description": "A list of asset resources that match the request criteria.",
     "items": {
      "$ref": "Asset"
     }
    },
    "kind": {
     "type": "string",
     "description": "The type of the API response. For this operation, the value is youtubePartner#assetList.",
     "default": "youtubePartner#assetList"
    }
   }
  },
  "AssetMatchPolicy": {
   "id": "AssetMatchPolicy",
   "type": "object",
   "properties": {
    "kind": {
     "type": "string",
     "description": "The type of the API resource. Value: youtubePartner#assetMatchPolicy.",
     "default": "youtubePartner#assetMatchPolicy"
    },
    "policyId": {
     "type": "string",
     "description": "A value that uniquely identifies the Policy resource that YouTube applies to user-uploaded videos that match the asset."
    },
    "rules": {
     "type": "array",
     "description": "A list of rules that collectively define the policy that the content owner wants to apply to user-uploaded videos that match the asset. Each rule specifies the action that YouTube should take and may optionally specify the conditions under which that action is enforced.",
     "items": {
      "$ref": "PolicyRule"
     }
    }
   }
  },
  "AssetRelationship": {
   "id": "AssetRelationship",
   "type": "object",
   "properties": {
    "childAssetId": {
     "type": "string",
     "description": "The ID of the child (contained) asset."
    },
    "id": {
     "type": "string",
     "description": "A value that YouTube assigns and uses to uniquely identify the asset relationship."
    },
    "kind": {
     "type": "string",
     "description": "The type of the API resource. For this resource, the value is youtubePartner#assetRelationship.",
     "default": "youtubePartner#assetRelationship"
    },
    "parentAssetId": {
     "type": "string",
     "description": "The ID of the parent (containing) asset."
    }
   }
  },
  "AssetRelationshipListResponse": {
   "id": "AssetRelationshipListResponse",
   "type": "object",
   "properties": {
    "items": {
     "type": "array",
     "description": "A list of assetRelationship resources that match the request criteria.",
     "items": {
      "$ref": "AssetRelationship"
     }
    },
    "kind": {
     "type": "string",
     "description": "The type of the API response. For this operation, the value is youtubePartner#assetRelationshipList.",
     "default": "youtubePartner#assetRelationshipList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page of results."
    },
    "pageInfo": {
     "$ref": "PageInfo",
     "description": "The pageInfo object encapsulates paging information for the result set."
    }
   }
  },
  "AssetSearchResponse": {
   "id": "AssetSearchResponse",
   "type": "object",
   "properties": {
    "items": {
     "type": "array",
     "description": "A list of asset resources that match the request criteria.",
     "items": {
      "$ref": "AssetSnippet"
     }
    },
    "kind": {
     "type": "string",
     "description": "The type of the API response. For this operation, the value is youtubePartner#assetSnippetList.",
     "default": "youtubePartner#assetSnippetList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page of results."
    },
    "pageInfo": {
     "$ref": "PageInfo",
     "description": "The pageInfo object encapsulates paging information for the result set."
    }
   }
  },
  "AssetShare": {
   "id": "AssetShare",
   "type": "object",
   "properties": {
    "kind": {
     "type": "string",
     "description": "The type of the API resource. For this resource, the value is youtubePartner#assetShare.",
     "default": "youtubePartner#assetShare"
    },
    "shareId": {
     "type": "string",
     "description": "A value that YouTube assigns and uses to uniquely identify the asset share."
    },
    "viewId": {
     "type": "string",
     "description": "A value that YouTube assigns and uses to uniquely identify the asset view."
    }
   }
  },
  "AssetShareListResponse": {
   "id": "AssetShareListResponse",
   "type": "object",
   "properties": {
    "items": {
     "type": "array",
     "description": "An assetShare resource that matches the request criteria.",
     "items": {
      "$ref": "AssetShare"
     }
    },
    "kind": {
     "type": "string",
     "description": "The type of the API response. For this operation, the value is youtubePartner#assetShareList.",
     "default": "youtubePartner#assetShareList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page of results."
    },
    "pageInfo": {
     "$ref": "PageInfo",
     "description": "The pageInfo object encapsulates paging information for the result set."
    }
   }
  },
  "AssetSnippet": {
   "id": "AssetSnippet",
   "type": "object",
   "properties": {
    "customId": {
     "type": "string",
     "description": "Custom ID assigned by the content owner to this asset."
    },
    "id": {
     "type": "string",
     "description": "An ID that YouTube assigns and uses to uniquely identify the asset."
    },
    "isrc": {
     "type": "string",
     "description": "The ISRC (International Standard Recording Code) for this asset."
    },
    "iswc": {
     "type": "string",
     "description": "The ISWC (International Standard Musical Work Code) for this asset."
    },
    "kind": {
     "type": "string",
     "description": "The type of the API resource. For this operation, the value is youtubePartner#assetSnippet.",
     "default": "youtubePartner#assetSnippet"
    },
    "timeCreated": {
     "type": "string",
     "description": "The date and time the asset was created. The value is specified in RFC 3339 (YYYY-MM-DDThh:mm:ss.000Z) format.",
     "format": "date-time"
    },
    "title": {
     "type": "string",
     "description": "Title of this asset."
    },
    "type": {
     "type": "string",
     "description": "The asset's type. This value determines which metadata fields might be included in the metadata object."
    }
   }
  },
  "Campaign": {
   "id": "Campaign",
   "type": "object",
   "properties": {
    "campaignData": {
     "$ref": "CampaignData",
     "description": "The campaignData object contains details like the campaign's start and end dates, target and source.",
     "annotations": {
      "required": [
       "youtubePartner.campaigns.insert",
       "youtubePartner.campaigns.update"
      ]
     }
    },
    "id": {
     "type": "string",
     "description": "The unique ID that YouTube uses to identify the campaign.",
     "annotations": {
      "required": [
       "youtubePartner.campaigns.delete",
       "youtubePartner.campaigns.get",
       "youtubePartner.campaigns.patch",
       "youtubePartner.campaigns.update"
      ]
     }
    },
    "kind": {
     "type": "string",
     "description": "The type of the API resource. For campaign resources, this value is youtubePartner#campaign.",
     "default": "youtubePartner#campaign"
    },
    "status": {
     "type": "string",
     "description": "The status of the campaign."
    },
    "timeCreated": {
     "type": "string",
     "description": "The time the campaign was created.",
     "format": "date-time"
    },
    "timeLastModified": {
     "type": "string",
     "description": "The time the campaign was last modified.",
     "format": "date-time"
    }
   }
  },
  "CampaignData": {
   "id": "CampaignData",
   "type": "object",
   "properties": {
    "campaignSource": {
     "$ref": "CampaignSource",
     "description": "The campaignSource object contains information about the assets for which the campaign will generate links."
    },
    "expireTime": {
     "type": "string",
     "description": "The time at which the campaign should expire. Do not specify a value if the campaign has no expiration time.",
     "format": "date-time"
    },
    "name": {
     "type": "string",
     "description": "The user-given name of the campaign."
    },
    "promotedContent": {
     "type": "array",
     "description": "A list of videos or channels that will be linked to from claimed videos that are included in the campaign.",
     "items": {
      "$ref": "PromotedContent"
     }
    },
    "startTime": {
     "type": "string",
     "description": "The time at which the campaign should start. Do not specify a value if the campaign should start immediately.",
     "format": "date-time"
    }
   }
  },
  "CampaignList": {
   "id": "CampaignList",
   "type": "object",
   "properties": {
    "items": {
     "type": "array",
     "description": "A list of campaigns.",
     "items": {
      "$ref": "Campaign"
     }
    },
    "kind": {
     "type": "string",
     "description": "The type of the API response. For this operation, the value is youtubePartner#campaignList.",
     "default": "youtubePartner#campaignList"
    }
   }
  },
  "CampaignSource": {
   "id": "CampaignSource",
   "type": "object",
   "properties": {
    "sourceType": {
     "type": "string",
     "description": "The type of the campaign source."
    },
    "sourceValue": {
     "type": "array",
     "description": "A list of values of the campaign source.",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "CampaignTargetLink": {
   "id": "CampaignTargetLink",
   "type": "object",
   "properties": {
    "targetId": {
     "type": "string",
     "description": "The channel ID or video ID of the link target."
    },
    "targetType": {
     "type": "string",
     "description": "Indicates whether the link target is a channel or video."
    }
   }
  },
  "Claim": {
   "id": "Claim",
   "type": "object",
   "properties": {
    "appliedPolicy": {
     "$ref": "Policy",
     "description": "The applied policy for the viewing owner on the claim. This might not be the same as the final claim policy on the video as it does not consider other partners' policy of the same claim."
    },
    "assetId": {
     "type": "string",
     "description": "The unique YouTube asset ID that identifies the asset associated with the claim.",
     "annotations": {
      "required": [
       "youtubePartner.claims.insert"
      ]
     }
    },
    "blockOutsideOwnership": {
     "type": "boolean",
     "description": "Indicates whether or not the claimed video should be blocked anywhere it is not explicitly owned."
    },
    "contentType": {
     "type": "string",
     "description": "This value indicates whether the claim covers the audio, video, or audiovisual portion of the claimed content.",
     "annotations": {
      "required": [
       "youtubePartner.claims.insert"
      ]
     }
    },
    "id": {
     "type": "string",
     "description": "The ID that YouTube assigns and uses to uniquely identify the claim."
    },
    "isPartnerUploaded": {
     "type": "boolean",
     "description": "Indicates whether or not the claim is a partner uploaded claim."
    },
    "kind": {
     "type": "string",
     "description": "The type of the API resource. For claim resources, this value is youtubePartner#claim.",
     "default": "youtubePartner#claim"
    },
    "matchInfo": {
     "type": "object",
     "description": "If this claim was auto-generated based on a provided reference, this section will provide details of the match that generated the claim.",
     "properties": {
      "longestMatch": {
       "type": "object",
       "description": "Details of the longest match between the reference and the user video.",
       "properties": {
        "durationSecs": {
         "type": "string",
         "description": "The duration of the longest match between the reference and the user video.",
         "format": "uint64"
        },
        "referenceOffset": {
         "type": "string",
         "description": "The offset in seconds into the reference at which the longest match began.",
         "format": "uint64"
        },
        "userVideoOffset": {
         "type": "string",
         "description": "The offset in seconds into the user video at which the longest match began.",
         "format": "uint64"
        }
       }
      },
      "matchSegments": {
       "type": "array",
       "description": "Details about each match segment. Each item in the list contains information about one match segment associated with the claim. It is possible to have multiple match segments. For example, if the audio and video content of an uploaded video match that of a reference video, there would be two match segments. One segment would describe the audio match and the other would describe the video match.",
       "items": {
        "$ref": "MatchSegment"
       }
      },
      "referenceId": {
       "type": "string",
       "description": "The reference ID that generated this match."
      },
      "totalMatch": {
       "type": "object",
       "description": "Details of the total amount of reference and user video content which matched each other. Note these two values may differ if either the reference or the user video contains a loop.",
       "properties": {
        "referenceDurationSecs": {
         "type": "string",
         "description": "The total amount of content in the reference which matched the user video in seconds.",
         "format": "uint64"
        },
        "userVideoDurationSecs": {
         "type": "string",
         "description": "The total amount of content in the user video which matched the reference in seconds.",
         "format": "uint64"
        }
       }
      }
     }
    },
    "origin": {
     "type": "object",
     "properties": {
      "source": {
       "type": "string"
      }
     }
    },
    "policy": {
     "$ref": "Policy",
     "description": "The policy provided by the viewing owner on the claim.",
     "annotations": {
      "required": [
       "youtubePartner.claims.insert"
      ]
     }
    },
    "status": {
     "type": "string",
     "description": "The claim's status. When updating a claim, you can update its status from active to inactive to effectively release the claim, but the API does not support other updates to a claim's status."
    },
    "timeCreated": {
     "type": "string",
     "description": "The time the claim was created.",
     "format": "date-time"
    },
    "videoId": {
     "type": "string",
     "description": "The unique YouTube video ID that identifies the video associated with the claim.",
     "annotations": {
      "required": [
       "youtubePartner.claims.insert"
      ]
     }
    }
   }
  },
  "ClaimEvent": {
   "id": "ClaimEvent",
   "type": "object",
   "properties": {
    "kind": {
     "type": "string",
     "description": "The type of the API resource. For claimEvent resources, this value is youtubePartner#claimEvent.",
     "default": "youtubePartner#claimEvent"
    },
    "reason": {
     "type": "string",
     "description": "Reason of the event."
    },
    "source": {
     "type": "object",
     "description": "Data related to source of the event.",
     "properties": {
      "contentOwnerId": {
       "type": "string",
       "description": "Id of content owner that initiated the event."
      },
      "type": {
       "type": "string",
       "description": "Type of the event source."
      },
      "userEmail": {
       "type": "string",
       "description": "Email of user who initiated the event."
      }
     }
    },
    "time": {
     "type": "string",
     "description": "The time when the event occurred.",
     "format": "date-time"
    },
    "type": {
     "type": "string",
     "description": "Type of the event."
    },
    "typeDetails": {
     "type": "object",
     "description": "Details of event's type.",
     "properties": {
      "appealExplanation": {
       "type": "string",
       "description": "Appeal explanations for dispute_appeal event."
      },
      "disputeNotes": {
       "type": "string",
       "description": "Dispute notes for dispute_create events."
      },
      "disputeReason": {
       "type": "string",
       "description": "Dispute reason for dispute_create and dispute_appeal events."
      },
      "updateStatus": {
       "type": "string",
       "description": "Status that was a result of update for claim_update event."
      }
     }
    }
   }
  },
  "ClaimHistory": {
   "id": "ClaimHistory",
   "type": "object",
   "properties": {
    "event": {
     "type": "array",
     "description": "A list of claim history events.",
     "items": {
      "$ref": "ClaimEvent"
     }
    },
    "id": {
     "type": "string",
     "description": "The ID that YouTube assigns and uses to uniquely identify the claim."
    },
    "kind": {
     "type": "string",
     "description": "The type of the API resource. For claimHistory resources, this value is youtubePartner#claimHistory.",
     "default": "youtubePartner#claimHistory"
    },
    "uploaderChannelId": {
     "type": "string",
     "description": "The external channel id of claimed video's uploader."
    }
   }
  },
  "ClaimListResponse": {
   "id": "ClaimListResponse",
   "type": "object",
   "properties": {
    "items": {
     "type": "array",
     "description": "A list of claims that match the request criteria.",
     "items": {
      "$ref": "Claim"
     }
    },
    "kind": {
     "type": "string",
     "description": "The type of the API response. For this operation, the value is youtubePartner#claimList.",
     "default": "youtubePartner#claimList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
    },
    "pageInfo": {
     "$ref": "PageInfo",
     "description": "The pageInfo object encapsulates paging information for the result set."
    },
    "previousPageToken": {
     "type": "string",
     "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
    }
   }
  },
  "ClaimSearchResponse": {
   "id": "ClaimSearchResponse",
   "type": "object",
   "properties": {
    "items": {
     "type": "array",
     "description": "A list of claims that match the request criteria.",
     "items": {
      "$ref": "ClaimSnippet"
     }
    },
    "kind": {
     "type": "string",
     "description": "The type of the API response. For this operation, the value is youtubePartner#claimSnippetList.",
     "default": "youtubePartner#claimSnippetList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
    },
    "pageInfo": {
     "$ref": "PageInfo",
     "description": "The pageInfo object encapsulates paging information for the result set."
    },
    "previousPageToken": {
     "type": "string",
     "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
    }
   }
  },
  "ClaimSnippet": {
   "id": "ClaimSnippet",
   "type": "object",
   "properties": {
    "assetId": {
     "type": "string",
     "description": "The unique YouTube asset ID that identifies the asset associated with the claim."
    },
    "contentType": {
     "type": "string",
     "description": "This value indicates whether the claim covers the audio, video, or audiovisual portion of the claimed content."
    },
    "id": {
     "type": "string",
     "description": "The ID that YouTube assigns and uses to uniquely identify the claim."
    },
    "isPartnerUploaded": {
     "type": "boolean",
     "description": "Indicates whether or not the claim is a partner uploaded claim."
    },
    "kind": {
     "type": "string",
     "description": "The type of the API resource. For this operation, the value is youtubePartner#claimSnippet.",
     "default": "youtubePartner#claimSnippet"
    },
    "origin": {
     "type": "object",
     "properties": {
      "source": {
       "type": "string"
      }
     }
    },
    "status": {
     "type": "string",
     "description": "The claim's status."
    },
    "thirdPartyClaim": {
     "type": "boolean",
     "description": "Indicates that this is a third party claim."
    },
    "timeCreated": {
     "type": "string",
     "description": "The time the claim was created.",
     "format": "date-time"
    },
    "timeStatusLastModified": {
     "type": "string",
     "description": "The time the claim status and/or status detail was last modified.",
     "format": "date-time"
    },
    "videoId": {
     "type": "string",
     "description": "The unique YouTube video ID that identifies the video associated with the claim."
    },
    "videoTitle": {
     "type": "string",
     "description": "The title of the claimed video."
    },
    "videoViews": {
     "type": "string",
     "description": "Number of views for the claimed video.",
     "format": "uint64"
    }
   }
  },
  "ClaimedVideoDefaults": {
   "id": "ClaimedVideoDefaults",
   "type": "object",
   "properties": {
    "autoGeneratedBreaks": {
     "type": "boolean",
     "description": "Set this property to true to enable automatically generated breaks for a newly claimed video longer than 10 minutes. The first partner that claims the video sets its default advertising options to that video. claimedVideoOptions.auto_generated_breaks_default"
    },
    "channelOverride": {
     "type": "boolean",
     "description": "Set this property to true to indicate that the channel's claimedVideoOptions can override the content owner's claimedVideoOptions."
    },
    "kind": {
     "type": "string",
     "description": "Identifies this resource as default options for newly claimed video. Value: \"youtubePartner#claimedVideoDefaults\".",
     "default": "youtubePartner#claimedVideoDefaults"
    },
    "newVideoDefaults": {
     "type": "array",
     "description": "A list of ad formats that could be used as the default settings for a newly claimed video. The first partner that claims the video sets its default advertising options to that video.",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "Conditions": {
   "id": "Conditions",
   "type": "object",
   "properties": {
    "contentMatchType": {
     "type": "array",
     "description": "This match condition specifies whether the user- or partner-uploaded content needs to match the audio, video or audiovisual content of a reference file for the rule to apply.",
     "items": {
      "type": "string"
     }
    },
    "matchDuration": {
     "type": "array",
     "description": "This match condition specifies an amount of time that the user- or partner- uploaded content needs to match a reference file for the rule to apply.",
     "items": {
      "$ref": "IntervalCondition"
     }
    },
    "matchPercent": {
     "type": "array",
     "description": "This match condition specifies a percentage of the user- or partner-uploaded content that needs to match a reference file for the rule to apply.",
     "items": {
      "$ref": "IntervalCondition"
     }
    },
    "referenceDuration": {
     "type": "array",
     "description": "This match condition indicates that the reference must be a certain duration for the rule to apply.",
     "items": {
      "$ref": "IntervalCondition"
     }
    },
    "referencePercent": {
     "type": "array",
     "description": "This match condition indicates that the specified percentage of a reference file must match the user- or partner-uploaded content for the rule to apply.",
     "items": {
      "$ref": "IntervalCondition"
     }
    },
    "requiredTerritories": {
     "$ref": "TerritoryCondition",
     "description": "This watch condition specifies where users are (or or not) allowed to watch (or listen to) an asset. YouTube determines whether the condition is satisfied based on the user's location."
    }
   }
  },
  "ConflictingOwnership": {
   "id": "ConflictingOwnership",
   "type": "object",
   "properties": {
    "owner": {
     "type": "string",
     "description": "The ID of the conflicting asset's owner."
    },
    "ratio": {
     "type": "number",
     "description": "The percentage of the asset that the owner controls or administers.",
     "format": "double"
    }
   }
  },
  "ContentOwner": {
   "id": "ContentOwner",
   "type": "object",
   "properties": {
    "conflictNotificationEmail": {
     "type": "string",
     "description": "The email address visible to other partners for use in managing asset ownership conflicts."
    },
    "displayName": {
     "type": "string",
     "description": "The content owner's display name."
    },
    "disputeNotificationEmails": {
     "type": "array",
     "description": "The email address(es) to which YouTube sends claim dispute notifications and possible claim notifications.",
     "items": {
      "type": "string"
     }
    },
    "fingerprintReportNotificationEmails": {
     "type": "array",
     "description": "The email address(es) to which YouTube sends fingerprint reports.",
     "items": {
      "type": "string"
     }
    },
    "id": {
     "type": "string",
     "description": "A unique ID that YouTube uses to identify the content owner."
    },
    "kind": {
     "type": "string",
     "description": "The type of the API resource. For content owner resources, the value is youtubePartner#contentOwner.",
     "default": "youtubePartner#contentOwner"
    },
    "primaryNotificationEmails": {
     "type": "array",
     "description": "The email address(es) to which YouTube sends CMS account details and report notifications.",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "ContentOwnerAdvertisingOption": {
   "id": "ContentOwnerAdvertisingOption",
   "type": "object",
   "properties": {
    "allowedOptions": {
     "$ref": "AllowedAdvertisingOptions",
     "description": "This object identifies the ad formats that the content owner is allowed to use."
    },
    "claimedVideoOptions": {
     "$ref": "ClaimedVideoDefaults",
     "description": "This object identifies the advertising options used by default for the content owner's newly claimed videos."
    },
    "id": {
     "type": "string",
     "description": "The value that YouTube uses to uniquely identify the content owner."
    },
    "kind": {
     "type": "string",
     "description": "The type of the API resource. For this resource, the value is youtubePartner#contentOwnerAdvertisingOption.",
     "default": "youtubePartner#contentOwnerAdvertisingOption"
    }
   }
  },
  "ContentOwnerListResponse": {
   "id": "ContentOwnerListResponse",
   "type": "object",
   "properties": {
    "items": {
     "type": "array",
     "description": "A list of content owners that match the request criteria.",
     "items": {
      "$ref": "ContentOwner"
     }
    },
    "kind": {
     "type": "string",
     "description": "The type of the API response. For this operation, the value is youtubePartner#contentOwnerList.",
     "default": "youtubePartner#contentOwnerList"
    }
   }
  },
  "CountriesRestriction": {
   "id": "CountriesRestriction",
   "type": "object",
   "properties": {
    "adFormats": {
     "type": "array",
     "description": "A list of ad formats that can be used in the specified countries.",
     "items": {
      "type": "string"
     }
    },
    "territories": {
     "type": "array",
     "description": "A list of ISO 3166-1 alpha-2 country codes that identify the countries where ads are enabled.",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "CuepointSettings": {
   "id": "CuepointSettings",
   "type": "object",
   "properties": {
    "cueType": {
     "type": "string",
     "description": "The cuepoint's type. See the Getting started guide for an explanation of the different types of cuepoints. Also see the Life of a broadcast document for best practices about inserting cuepoints during your broadcast.",
     "annotations": {
      "required": [
       "youtubePartner.liveCuepoints.insert"
      ]
     }
    },
    "durationSecs": {
     "type": "integer",
     "description": "The cuepoint's duration, in seconds. This value must be specified if the cueType is ad and is ignored otherwise.",
     "format": "uint32"
    },
    "offsetTimeMs": {
     "type": "string",
     "description": "This value specifies a point in time in the video when viewers should see an ad or in-stream slate. The property value identifies a time offset, in milliseconds, from the beginning of the monitor stream. Though measured in milliseconds, the value is actually an approximation, and YouTube will insert the cuepoint as closely as possible to that time. You should not specify a value for this parameter if your broadcast does not have a monitor stream.\n\nThis property's default value is 0, which indicates that the cuepoint should be inserted as soon as possible. If your broadcast stream is not delayed, then 0 is also the only valid value. However, if your broadcast stream is delayed, then the property value can specify the time when the cuepoint should be inserted. See the Getting started guide for more details.\n\nNote: If your broadcast had a testing phase, the offset is measured from the time that the testing phase began.",
     "format": "int64"
    },
    "walltime": {
     "type": "string",
     "description": "This value specifies the wall clock time at which the cuepoint should be inserted. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sssZ) format.",
     "format": "date-time"
    }
   }
  },
  "Date": {
   "id": "Date",
   "type": "object",
   "properties": {
    "day": {
     "type": "integer",
     "description": "The date's day. The value should be an integer between 1 and 31. Note that some day-month combinations are not valid.",
     "format": "uint32"
    },
    "month": {
     "type": "integer",
     "description": "The date's month. The value should be an integer between 1 and 12.",
     "format": "uint32"
    },
    "year": {
     "type": "integer",
     "description": "The date's year in the Gregorian Calendar. Assumed to be A.D.",
     "format": "uint32"
    }
   }
  },
  "DateRange": {
   "id": "DateRange",
   "type": "object",
   "properties": {
    "end": {
     "$ref": "Date",
     "description": "The end date (inclusive) for the date range. This value is required for video-on-demand (VOD) orders and optional for electronic sell-through (EST) orders."
    },
    "kind": {
     "type": "string",
     "description": "Identifies this resource as order date range. Value: \"youtubePartner#dateRange\".",
     "default": "youtubePartner#dateRange"
    },
    "start": {
     "$ref": "Date",
     "description": "The start date for the date range. This value is required for all date ranges."
    }
   }
  },
  "ExcludedInterval": {
   "id": "ExcludedInterval",
   "type": "object",
   "properties": {
    "high": {
     "type": "number",
     "description": "The end (inclusive) time in seconds of the time window. The value can be any value greater than low. If high is greater than the length of the reference, the interval between low and the end of the reference will be excluded. Every interval must specify a value for this field.",
     "format": "double"
    },
    "low": {
     "type": "number",
     "description": "The start (inclusive) time in seconds of the time window. The value can be any value between 0 and high. Every interval must specify a value for this field.",
     "format": "double"
    },
    "origin": {
     "type": "string",
     "description": "The source of the request to exclude the interval from Content ID matching."
    },
    "timeCreated": {
     "type": "string",
     "description": "The date and time that the exclusion was created. The value is specified in RFC 3339 (YYYY-MM-DDThh:mm:ss.000Z) format.",
     "format": "date-time"
    }
   }
  },
  "IntervalCondition": {
   "id": "IntervalCondition",
   "type": "object",
   "properties": {
    "high": {
     "type": "number",
     "description": "The maximum (inclusive) allowed value for the condition to be satisfied. The default value is ∞.",
     "format": "double"
    },
    "low": {
     "type": "number",
     "description": "The minimum (inclusive) allowed value for the condition to be satisfied. The default value is -∞.",
     "format": "double"
    }
   }
  },
  "LiveCuepoint": {
   "id": "LiveCuepoint",
   "type": "object",
   "properties": {
    "broadcastId": {
     "type": "string",
     "description": "The ID that YouTube assigns to uniquely identify the broadcast into which the cuepoint is being inserted.",
     "annotations": {
      "required": [
       "youtubePartner.liveCuepoints.insert"
      ]
     }
    },
    "id": {
     "type": "string",
     "description": "A value that YouTube assigns to uniquely identify the cuepoint."
    },
    "kind": {
     "type": "string",
     "description": "The type of the API resource. For liveCuepoint resources, the value is youtubePartner#liveCuepoint.",
     "default": "youtubePartner#liveCuepoint"
    },
    "settings": {
     "$ref": "CuepointSettings",
     "description": "The settings object defines the cuepoint's settings."
    }
   }
  },
  "MatchSegment": {
   "id": "MatchSegment",
   "type": "object",
   "properties": {
    "channel": {
     "type": "string",
     "description": "Identifies the manner in which the claimed video matches the reference video."
    },
    "reference_segment": {
     "$ref": "Segment",
     "description": "The reference_segment object contains information about the matched portion of the reference content."
    },
    "video_segment": {
     "$ref": "Segment",
     "description": "The video_segment object contains information about the matched portion of the claimed video."
    }
   }
  },
  "Metadata": {
   "id": "Metadata",
   "type": "object",
   "properties": {
    "actor": {
     "type": "array",
     "description": "A list that identifies actors associated with the asset. You can specify up to 50 actors for an asset.",
     "items": {
      "type": "string"
     }
    },
    "album": {
     "type": "string",
     "description": "The album on which a sound recording asset is included. This field is only valid for sound recording assets and has a maximum length of 255 bytes."
    },
    "artist": {
     "type": "array",
     "description": "The artist associated with a music video or sound recording asset. This field is only valid for music video and sound recording assets. It is required for sound recordings included in the AudioSwap program.",
     "items": {
      "type": "string"
     }
    },
    "broadcaster": {
     "type": "array",
     "description": "Identifies the network or channel that originally broadcast a show or a season of a show. This field should only be included for an asset if the broadcaster associated with the asset is different from the partner uploading the asset to YouTube. Note that a show may have multiple broadcasters; for example, a show may switch networks between seasons.",
     "items": {
      "type": "string"
     }
    },
    "category": {
     "type": "string",
     "description": "Category of this asset."
    },
    "contentType": {
     "type": "string",
     "description": "The type of video content that the asset represents. This field is only valid for movie and episode assets, and is required for the following types of those assets:  \n- Episode assets that are linked to a show \n- Movie assets that appear in YouTube's Movies category"
    },
    "copyrightDate": {
     "$ref": "Date",
     "description": "The date copyright for this asset was established. *"
    },
    "customId": {
     "type": "string",
     "description": "A unique value that you, the metadata provider, use to identify an asset. The value could be a unique ID that you created for the asset or a standard identifier, such as an ISRC. The value has a maximum length of 64 bytes and may contain alphanumeric characters, hyphens (-), underscores (_), periods (.), \"at\" symbols (@), or forward slashes (/)."
    },
    "description": {
     "type": "string",
     "description": "A description of the asset. The description may be displayed on YouTube or in CMS. This field has a maximum length of 5,000 bytes."
    },
    "director": {
     "type": "array",
     "description": "A list that identifies directors associated with the asset. You can specify up to 50 directors for an asset.",
     "items": {
      "type": "string"
     }
    },
    "eidr": {
     "type": "string",
     "description": "The Entertainment Identifier Registry (EIDR) assigned to an asset. This value is only used for episode and movie assets and is optional in both cases. The value contains a standard prefix for EIDR registry, followed by a forward slash, a 20-character hexadecimal string, and an alphanumeric (0-9A-Z) check character."
    },
    "endYear": {
     "type": "integer",
     "description": "The last year that a television show aired. This value is only used for show assets, for which it is optional. Do not specify a value if new show episodes are still being created.",
     "format": "uint32"
    },
    "episodeNumber": {
     "type": "string",
     "description": "The episode number associated with an episode asset. This field is required for and only used for episode assets that are linked to show assets. It has a maximum length of 5 bytes."
    },
    "episodesAreUntitled": {
     "type": "boolean",
     "description": "This value indicates that the episodes associated with a particular show asset or a particular season asset are untitled. An untitled show (or season) has episodes which are identified by their episode number or date. If this field is set to true, then YouTube will optimize the title displayed for associated episodes."
    },
    "genre": {
     "type": "array",
     "description": "This field specifies a genre that can be used to categorize an asset. Assets may be categorized in more than one genre, and YouTube uses different sets of genres to categorize different types of assets. For example, Soaps might be a valid genre for a show but not for a movie or sound recording.  \n- Show assets \n- Movie assets that appear in YouTube's Movies category \n- Sound recordings included in the AudioSwap program",
     "items": {
      "type": "string"
     }
    },
    "grid": {
     "type": "string",
     "description": "The GRID (Global Release Identifier) of a music video or sound recording. This field's value must contain exactly 18 alphanumeric characters."
    },
    "hfa": {
     "type": "string",
     "description": "The six-character Harry Fox Agency (HFA) song code issued to uniquely identify a composition. This value is only valid for composition assets."
    },
    "infoUrl": {
     "type": "string",
     "description": "An official URL associated with the asset. This field has a maximum length of 1536 bytes. Please do not submit a 1537-byte URL. Your efforts would be futile."
    },
    "isan": {
     "type": "string",
     "description": "The ISAN (International Standard Audiovisual Number) for the asset. This value is only used for episode and movie assets and is optional in both cases. The value contains 26 characters, which includes the 24 hexadecimal characters of the ISAN as well as two check characters, in the following format:  \n- The first 16 characters in the tag value contain hexadecimal characters specifying the 'root' and 'episode' components of the ISAN. \n- The seventeenth character is a check character (a letter from A-Z). \n- Characters 18 to 25 are the remaining eight characters of the ISAN, which specify the 'version' component of the ISAN. \n- The twenty-sixth character is another check character (A-Z)."
    },
    "isrc": {
     "type": "string",
     "description": "The ISRC (International Standard Recording Code) of a music video or sound recording asset. This field's value must contain exactly 12 alphanumeric characters."
    },
    "iswc": {
     "type": "string",
     "description": "The ISWC (International Standard Musical Work Code) for a composition asset. The field's value must contain exactly 11 characters in the format of a letter (T) followed by 10 digits."
    },
    "keyword": {
     "type": "array",
     "description": "A list of up to 100 keywords associated with a show asset. This field is required for and also only used for show assets.",
     "items": {
      "type": "string"
     }
    },
    "label": {
     "type": "string",
     "description": "The record label that released a sound recording asset. This field is only valid for sound recording assets and has a maximum length of 255 bytes."
    },
    "notes": {
     "type": "string",
     "description": "Additional information that does not map directly to one of the other metadata fields. This field has a maximum length of 255 bytes."
    },
    "originalReleaseMedium": {
     "type": "string",
     "description": "The method by which people first had the opportunity to see a video asset. This value is only used for episode and movie assets. It is required for the assets listed below and otherwise optional:  \n- Episode assets that are linked to a show \n- Movie assets that appear in YouTube's Movies category"
    },
    "producer": {
     "type": "array",
     "description": "A list that identifies producers of the asset. You can specify up to 50 producers for an asset.",
     "items": {
      "type": "string"
     }
    },
    "ratings": {
     "type": "array",
     "description": "A list of ratings that an asset received. The rating must be valid under the specified rating system.",
     "items": {
      "$ref": "Rating"
     }
    },
    "releaseDate": {
     "$ref": "Date",
     "description": "The date that an asset was publicly released. For season assets, this value specifies the first date that the season aired. Dates prior to the year 1902 are not supported. This value is valid for episode, season, movie, music video, and sound recording assets. It is required for the assets listed below and otherwise optional:  \n- Episode assets that are linked to a show \n- Movie assets that appear in YouTube's Movies category"
    },
    "seasonNumber": {
     "type": "string",
     "description": "The season number that identifies a season asset, or the season number that is associated with an episode asset. This field has a maximum length of 5 bytes."
    },
    "showCustomId": {
     "type": "string",
     "description": "The customId of the show asset that a season or episode asset is associated with. It is required for season and episode assets that appear in the Shows category on YouTube, and it is not valid for other types of assets. This field has a maximum length of 64 bytes and may contain alphanumeric characters, hyphens (-), underscores (_), periods (.), \"at\" symbols (@), or forward slashes (/)."
    },
    "showTitle": {
     "type": "string",
     "description": "The name of the show that an episode asset is associated with. Note: This tag is only used for and valid for episodes that are not associated with show assets and enables those assets to still display a show title in the asset metadata section of CMS. This field has a maximum length of 120 bytes."
    },
    "spokenLanguage": {
     "type": "string",
     "description": "The video's primary spoken language. The value can be any ISO 639-1 two-letter language code. This value is only used for episode and movie assets and is not valid for other types of assets."
    },
    "startYear": {
     "type": "integer",
     "description": "The first year that a television show aired. This value is required for and also only used for show assets.",
     "format": "uint32"
    },
    "subtitledLanguage": {
     "type": "array",
     "description": "A list of languages for which the video has either a separate caption track or burnt-in captions that are part of the video. Each value in the list should be an ISO 639-1 two-letter language code. This value is only used for episode and movie assets and is not valid for other types of assets.",
     "items": {
      "type": "string"
     }
    },
    "title": {
     "type": "string",
     "description": "The asset's title or name. The value has a maximum length of 255 bytes. This value is required for the assets listed below and optional for all other assets:  \n- Show assets \n- Episode assets that are linked to a show \n- Movie assets that appear in YouTube's Movies category \n- Sound recordings included in the AudioSwap program"
    },
    "tmsId": {
     "type": "string",
     "description": "TMS (Tribune Media Systems) ID for the asset."
    },
    "totalEpisodesExpected": {
     "type": "integer",
     "description": "Specifies the total number of full-length episodes in the season. This value is used only for season assets.",
     "format": "uint32"
    },
    "upc": {
     "type": "string",
     "description": "The UPC (Universal Product Code) associated with the asset."
    },
    "writer": {
     "type": "array",
     "description": "A list that identifies writers associated with the asset. You can specify up to 50 writers for an asset.",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "MetadataHistory": {
   "id": "MetadataHistory",
   "type": "object",
   "properties": {
    "kind": {
     "type": "string",
     "description": "The type of the API resource. For metadata history resources, the value is youtubePartner#metadataHistory.",
     "default": "youtubePartner#metadataHistory"
    },
    "metadata": {
     "$ref": "Metadata",
     "description": "The metadata object contains the metadata provided by the specified source (origination) at the specified time (timeProvided)."
    },
    "origination": {
     "$ref": "Origination",
     "description": "The origination object contains information that describes the metadata source."
    },
    "timeProvided": {
     "type": "string",
     "description": "The time the metadata was provided.",
     "format": "date-time"
    }
   }
  },
  "MetadataHistoryListResponse": {
   "id": "MetadataHistoryListResponse",
   "type": "object",
   "properties": {
    "items": {
     "type": "array",
     "description": "A list of metadata history (youtubePartner#metadataHistory) resources that match the request criteria.",
     "items": {
      "$ref": "MetadataHistory"
     }
    },
    "kind": {
     "type": "string",
     "description": "The type of the API response. For this operation, the value is youtubePartner#metadataHistoryList.",
     "default": "youtubePartner#metadataHistoryList"
    }
   }
  },
  "Order": {
   "id": "Order",
   "type": "object",
   "properties": {
    "availGroupId": {
     "type": "string",
     "description": "Links an order to the avails associated with it."
    },
    "channelId": {
     "type": "string",
     "description": "Channel ID - identifies the channel this order and video are associated with"
    },
    "contentType": {
     "type": "string",
     "description": "Type of content possible values are \n- MOVIE\n- SHOW"
    },
    "country": {
     "type": "string",
     "description": "Two letter country code for the order only countries where YouTube does transactional business are allowed."
    },
    "customId": {
     "type": "string",
     "description": "Secondary id to be used to identify content in other systems like partner database"
    },
    "dvdReleaseDate": {
     "$ref": "Date",
     "description": "Date when this content was first made available on DVD"
    },
    "estDates": {
     "$ref": "DateRange",
     "description": "Range of time content is to be available for rental."
    },
    "events": {
     "type": "array",
     "description": "History log of events for this order",
     "items": {
      "$ref": "StateCompleted"
     }
    },
    "id": {
     "type": "string",
     "description": "Order Id unique identifier for an order."
    },
    "kind": {
     "type": "string",
     "description": "Identifies this resource as order. Value: \"youtubePartner#order\".",
     "default": "youtubePartner#order"
    },
    "movie": {
     "type": "string",
     "description": "Title if the order is type movie."
    },
    "originalReleaseDate": {
     "$ref": "Date",
     "description": "Date when this content was first made available to the public"
    },
    "priority": {
     "type": "string",
     "description": "The priority for the order in the QC review queue once the content is ready for QC."
    },
    "productionHouse": {
     "type": "string",
     "description": "Post production house that is to process this order"
    },
    "purchaseOrder": {
     "type": "string",
     "description": "Youtube purchase order reference for the post production house."
    },
    "requirements": {
     "$ref": "Requirements",
     "description": "Minumim set of requirements for this order to be complete such as is a trailer required."
    },
    "show": {
     "$ref": "ShowDetails",
     "description": "Details of a show, show name, season number, episode etc."
    },
    "status": {
     "type": "string",
     "description": "The order's status."
    },
    "videoId": {
     "type": "string",
     "description": "Video ID the video that this order is associated with if any."
    },
    "vodDates": {
     "$ref": "DateRange",
     "description": "Range of time content is to be available for purchase."
    }
   }
  },
  "OrderListResponse": {
   "id": "OrderListResponse",
   "type": "object",
   "properties": {
    "items": {
     "type": "array",
     "description": "A list of orders that match the request criteria.",
     "items": {
      "$ref": "Order"
     }
    },
    "kind": {
     "type": "string",
     "description": "The type of the API response. For this operation, the value is youtubePartner#orderList.",
     "default": "youtubePartner#orderList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
    },
    "pageInfo": {
     "$ref": "PageInfo",
     "description": "The pageInfo object encapsulates paging information for the result set."
    },
    "previousPageToken": {
     "type": "string",
     "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
    }
   }
  },
  "Origination": {
   "id": "Origination",
   "type": "object",
   "properties": {
    "owner": {
     "type": "string",
     "description": "The content owner who provided the metadata or ownership information."
    },
    "source": {
     "type": "string",
     "description": "The mechanism by which the piece of metadata, ownership or relationship information was provided."
    }
   }
  },
  "OwnershipConflicts": {
   "id": "OwnershipConflicts",
   "type": "object",
   "properties": {
    "general": {
     "type": "array",
     "description": "A list that identifies ownership conflicts of an asset and the territories where conflicting ownership is inserted.",
     "items": {
      "$ref": "TerritoryConflicts"
     }
    },
    "kind": {
     "type": "string",
     "description": "The type of the API resource. For ownershipConflicts resources, the value is youtubePartner#ownershipConflicts.",
     "default": "youtubePartner#ownershipConflicts"
    },
    "mechanical": {
     "type": "array",
     "description": "A list that identifies ownership conflicts of the mechanical rights for a composition asset and the territories where conflicting ownership is inserted.",
     "items": {
      "$ref": "TerritoryConflicts"
     }
    },
    "performance": {
     "type": "array",
     "description": "A list that identifies ownership conflicts of the performance rights for a composition asset and the territories where conflicting ownership is inserted.",
     "items": {
      "$ref": "TerritoryConflicts"
     }
    },
    "synchronization": {
     "type": "array",
     "description": "A list that identifies ownership conflicts of the synchronization rights for a composition asset and the territories where conflicting ownership is inserted.",
     "items": {
      "$ref": "TerritoryConflicts"
     }
    }
   }
  },
  "OwnershipHistoryListResponse": {
   "id": "OwnershipHistoryListResponse",
   "type": "object",
   "properties": {
    "items": {
     "type": "array",
     "description": "A list of ownership history (youtubePartner#ownershipHistory) resources that match the request criteria.",
     "items": {
      "$ref": "RightsOwnershipHistory"
     }
    },
    "kind": {
     "type": "string",
     "description": "The type of the API response. For this operation, the value is youtubePartner#ownershipHistoryList.",
     "default": "youtubePartner#ownershipHistoryList"
    }
   }
  },
  "Package": {
   "id": "Package",
   "type": "object",
   "properties": {
    "content": {
     "type": "string",
     "description": "The package's metadata file contents."
    },
    "customIds": {
     "type": "array",
     "description": "The list of customer IDs.",
     "items": {
      "type": "string"
     }
    },
    "id": {
     "type": "string",
     "description": "An ID that YouTube assigns and uses to uniquely identify the package."
    },
    "kind": {
     "type": "string",
     "description": "The type of the API resource. For package resources, this value is youtubePartner#package.",
     "default": "youtubePartner#package"
    },
    "locale": {
     "type": "string",
     "description": "The desired locale of the error messages as defined in BCP 47 (http://tools.ietf.org/html/bcp47). For example, \"en-US\" or \"de\". If not specified we will return the error messages in English (\"en\")."
    },
    "name": {
     "type": "string",
     "description": "The package name."
    },
    "status": {
     "type": "string",
     "description": "The package status."
    },
    "timeCreated": {
     "type": "string",
     "description": "The package creation time. The value is specified in RFC 3339 (YYYY-MM-DDThh:mm:ss.000Z) format.",
     "format": "date-time"
    },
    "type": {
     "type": "string",
     "description": "The package type."
    },
    "uploaderName": {
     "type": "string",
     "description": "The uploader name."
    }
   }
  },
  "PackageInsertResponse": {
   "id": "PackageInsertResponse",
   "type": "object",
   "properties": {
    "errors": {
     "type": "array",
     "description": "The list of errors and/or warnings.",
     "items": {
      "$ref": "ValidateError"
     }
    },
    "kind": {
     "type": "string",
     "description": "The type of the API response. For this operation, the value is youtubePartner#packageInsert.",
     "default": "youtubePartner#packageInsert"
    },
    "resource": {
     "$ref": "Package",
     "description": "The package resource."
    },
    "status": {
     "type": "string",
     "description": "The package insert status. Indicates whether the insert operation completed successfully or identifies the general cause of failure. For most cases where the insert operation failed, the errors are described in the API response's errors object. However, if the operation failed because the package contained non-metadata files, the errors object is not included in the response."
    }
   }
  },
  "PageInfo": {
   "id": "PageInfo",
   "type": "object",
   "properties": {
    "resultsPerPage": {
     "type": "integer",
     "description": "The number of results included in the API response.",
     "format": "int32"
    },
    "startIndex": {
     "type": "integer",
     "description": "The index of the first item in the API response.",
     "format": "int32"
    },
    "totalResults": {
     "type": "integer",
     "description": "The total number of results in the result set.",
     "format": "int32"
    }
   }
  },
  "Policy": {
   "id": "Policy",
   "type": "object",
   "properties": {
    "description": {
     "type": "string",
     "description": "The policy's description."
    },
    "id": {
     "type": "string",
     "description": "A value that YouTube assigns and uses to uniquely identify the policy.",
     "annotations": {
      "required": [
       "youtubePartner.policies.update"
      ]
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies this as a policy. Value: \"youtubePartner#policy\"",
     "default": "youtubePartner#policy"
    },
    "name": {
     "type": "string",
     "description": "The policy's name."
    },
    "rules": {
     "type": "array",
     "description": "A list of rules that specify the action that YouTube should take and may optionally specify the conditions under which that action is enforced.",
     "items": {
      "$ref": "PolicyRule"
     }
    },
    "timeUpdated": {
     "type": "string",
     "description": "The time the policy was updated.",
     "format": "date-time"
    }
   }
  },
  "PolicyList": {
   "id": "PolicyList",
   "type": "object",
   "properties": {
    "items": {
     "type": "array",
     "description": "A list of saved policies.",
     "items": {
      "$ref": "Policy"
     }
    },
    "kind": {
     "type": "string",
     "description": "The type of the API response. For this operation, the value is youtubePartner#policyList.",
     "default": "youtubePartner#policyList"
    }
   }
  },
  "PolicyRule": {
   "id": "PolicyRule",
   "type": "object",
   "properties": {
    "action": {
     "type": "string",
     "description": "The policy that YouTube should enforce if the rule's conditions are all valid for an asset or for an attempt to view that asset on YouTube."
    },
    "conditions": {
     "$ref": "Conditions",
     "description": "A set of conditions that must be met for the rule's action (and subactions) to be enforced. For a rule to be valid, all of its conditions must be met."
    },
    "subaction": {
     "type": "array",
     "description": "A list of additional actions that YouTube should take if the conditions in the rule are met.",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "PromotedContent": {
   "id": "PromotedContent",
   "type": "object",
   "properties": {
    "link": {
     "type": "array",
     "description": "A list of link targets that will be used to generate the annotation link that appears on videos included in the  campaign. If more than one link is specified, the link that is displayed to viewers will be randomly selected from the list.",
     "items": {
      "$ref": "CampaignTargetLink"
     }
    }
   }
  },
  "Publisher": {
   "id": "Publisher",
   "type": "object",
   "properties": {
    "caeNumber": {
     "type": "string",
     "description": "The publisher's unique CAE (Compositeur, Auteur and Editeur) number."
    },
    "id": {
     "type": "string",
     "description": "A value that YouTube assigns and uses to uniquely identify the publisher."
    },
    "ipiNumber": {
     "type": "string",
     "description": "The publisher's unique IPI (Interested Parties Information) code."
    },
    "kind": {
     "type": "string",
     "description": "The type of the API resource. For this resource, the value is youtubePartner#publisher.",
     "default": "youtubePartner#publisher"
    },
    "name": {
     "type": "string",
     "description": "The publisher's name."
    }
   }
  },
  "PublisherList": {
   "id": "PublisherList",
   "type": "object",
   "properties": {
    "items": {
     "type": "array",
     "description": "A list of publishers that match the request criteria.",
     "items": {
      "$ref": "Publisher"
     }
    },
    "kind": {
     "type": "string",
     "description": "The type of the API response. For this operation, the value is youtubePartner#publisherList.",
     "default": "youtubePartner#publisherList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
    },
    "pageInfo": {
     "$ref": "PageInfo",
     "description": "The pageInfo object encapsulates paging information for the result set."
    }
   }
  },
  "Rating": {
   "id": "Rating",
   "type": "object",
   "properties": {
    "rating": {
     "type": "string",
     "description": "The rating that the asset received."
    },
    "ratingSystem": {
     "type": "string",
     "description": "The rating system associated with the rating."
    }
   }
  },
  "Reference": {
   "id": "Reference",
   "type": "object",
   "properties": {
    "assetId": {
     "type": "string",
     "description": "The ID that uniquely identifies the asset that the reference is associated with."
    },
    "audioswapEnabled": {
     "type": "boolean",
     "description": "Set this field's value to true to indicate that the reference content should be included in YouTube's AudioSwap program."
    },
    "claimId": {
     "type": "string",
     "description": "This field is present if the reference was created by associating an asset with an existing YouTube video that was uploaded to a YouTube channel linked to your CMS account. In that case, this field contains the ID of the claim representing the resulting association between the asset and the video."
    },
    "contentType": {
     "type": "string",
     "description": "The type of content that the reference represents.",
     "annotations": {
      "required": [
       "youtubePartner.references.insert"
      ]
     }
    },
    "duplicateLeader": {
     "type": "string",
     "description": "The ID that uniquely identifies the reference that this reference duplicates. This field is only present if the reference's status is inactive with reason REASON_DUPLICATE_FOR_OWNERS."
    },
    "excludedIntervals": {
     "type": "array",
     "description": "The list of time intervals from this reference that will be ignored during the match process.",
     "items": {
      "$ref": "ExcludedInterval"
     }
    },
    "fpDirect": {
     "type": "boolean",
     "description": "When uploading a reference, set this value to true to indicate that the reference is a pre-generated fingerprint."
    },
    "hashCode": {
     "type": "string",
     "description": "The MD5 hashcode of the reference content."
    },
    "id": {
     "type": "string",
     "description": "A value that YouTube assigns and uses to uniquely identify a reference.",
     "annotations": {
      "required": [
       "youtubePartner.references.patch",
       "youtubePartner.references.update"
      ]
     }
    },
    "ignoreFpMatch": {
     "type": "boolean",
     "description": "Set this value to true to indicate that the reference should not be used to generate claims. This field is only used on AudioSwap references."
    },
    "kind": {
     "type": "string",
     "description": "The type of the API resource. For reference resources, the value is youtubePartner#reference.",
     "default": "youtubePartner#reference"
    },
    "length": {
     "type": "number",
     "description": "The length of the reference in seconds.",
     "format": "double"
    },
    "origination": {
     "$ref": "Origination",
     "description": "The origination object contains information that describes the reference source."
    },
    "status": {
     "type": "string",
     "description": "The reference's status."
    },
    "statusReason": {
     "type": "string",
     "description": "An explanation of how a reference entered its current state. This value is only present if the reference's status is either inactive or deleted."
    },
    "urgent": {
     "type": "boolean",
     "description": "Set this value to true to indicate that YouTube should prioritize Content ID processing for a video file. YouTube processes urgent video files before other files that are not marked as urgent. This setting is primarily used for videos of live events or other videos that require time-sensitive processing. The sooner YouTube completes Content ID processing for a video, the sooner YouTube can match user-uploaded videos to that video.\n\nNote that marking all of your files as urgent could delay processing for those files."
    },
    "videoId": {
     "type": "string",
     "description": "This field is present if the reference was created by associating an asset with an existing YouTube video that was uploaded to a YouTube channel linked to your CMS account. In that case, this field contains the ID of the source video."
    }
   }
  },
  "ReferenceConflict": {
   "id": "ReferenceConflict",
   "type": "object",
   "properties": {
    "conflictingReferenceId": {
     "type": "string",
     "description": "An id of a conflicting reference."
    },
    "expiryTime": {
     "type": "string",
     "description": "Conflict review expiry time.",
     "format": "date-time"
    },
    "id": {
     "type": "string",
     "description": "A value that YouTube assigns and uses to uniquely identify a reference conflict.",
     "annotations": {
      "required": [
       "youtubePartner.referenceConflicts.get"
      ]
     }
    },
    "kind": {
     "type": "string",
     "description": "The type of the API resource. For referenceConflict resources, the value is youtubePartner#referenceConflict.",
     "default": "youtubePartner#referenceConflict"
    },
    "matches": {
     "type": "array",
     "description": "The list of matches between conflicting and original references at the time of conflict creation.",
     "items": {
      "$ref": "ReferenceConflictMatch"
     }
    },
    "originalReferenceId": {
     "type": "string",
     "description": "An id of an original reference."
    },
    "status": {
     "type": "string",
     "description": "The referenceConflict's status."
    }
   }
  },
  "ReferenceConflictListResponse": {
   "id": "ReferenceConflictListResponse",
   "type": "object",
   "properties": {
    "items": {
     "type": "array",
     "description": "A list of reference conflicts that match the request criteria.",
     "items": {
      "$ref": "ReferenceConflict"
     }
    },
    "kind": {
     "type": "string",
     "description": "The type of the API response. For this operation, the value is youtubePartner#referenceConflictList.",
     "default": "youtubePartner#referenceConflictList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
    },
    "pageInfo": {
     "$ref": "PageInfo",
     "description": "The pageInfo object encapsulates paging information for the result set."
    }
   }
  },
  "ReferenceConflictMatch": {
   "id": "ReferenceConflictMatch",
   "type": "object",
   "properties": {
    "conflicting_reference_offset_ms": {
     "type": "string",
     "description": "Conflicting reference offset in milliseconds.",
     "format": "int64"
    },
    "length_ms": {
     "type": "string",
     "description": "Match length in milliseconds.",
     "format": "int64"
    },
    "original_reference_offset_ms": {
     "type": "string",
     "description": "Original reference offset in milliseconds.",
     "format": "int64"
    },
    "type": {
     "type": "string",
     "description": "The referenceConflictMatch's type."
    }
   }
  },
  "ReferenceListResponse": {
   "id": "ReferenceListResponse",
   "type": "object",
   "properties": {
    "items": {
     "type": "array",
     "description": "A list of references that match the request criteria.",
     "items": {
      "$ref": "Reference"
     }
    },
    "kind": {
     "type": "string",
     "description": "The type of the API response. For this operation, the value is youtubePartner#referenceList.",
     "default": "youtubePartner#referenceList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
    },
    "pageInfo": {
     "$ref": "PageInfo",
     "description": "The pageInfo object encapsulates paging information for the result set."
    }
   }
  },
  "Requirements": {
   "id": "Requirements",
   "type": "object",
   "properties": {
    "caption": {
     "type": "boolean",
     "description": "This value indicates whether the order requires closed captions."
    },
    "hdTranscode": {
     "type": "boolean",
     "description": "This value indicates whether the order requires HD-quality video."
    },
    "posterArt": {
     "type": "boolean",
     "description": "This value indicates whether the order requires poster artwork."
    },
    "spotlightArt": {
     "type": "boolean",
     "description": "This value indicates whether the order requires spotlight artwork."
    },
    "spotlightReview": {
     "type": "boolean",
     "description": "This value indicates whether the spotlight artwork for the order needs to be reviewed."
    },
    "trailer": {
     "type": "boolean",
     "description": "This value indicates whether the order requires a trailer."
    }
   }
  },
  "RightsOwnership": {
   "id": "RightsOwnership",
   "type": "object",
   "properties": {
    "general": {
     "type": "array",
     "description": "A list that identifies the owners of an asset and the territories where each owner has ownership. General asset ownership is used for all types of assets and is the only type of ownership data that can be provided for assets that are not compositions.\n\nNote: You cannot specify general ownership rights and also specify either mechanical, performance, or synchronization rights.",
     "items": {
      "$ref": "TerritoryOwners"
     }
    },
    "kind": {
     "type": "string",
     "description": "The type of the API resource. For rightsOwnership resources, the value is youtubePartner#rightsOwnership.",
     "default": "youtubePartner#rightsOwnership"
    },
    "mechanical": {
     "type": "array",
     "description": "A list that identifies owners of the mechanical rights for a composition asset.",
     "items": {
      "$ref": "TerritoryOwners"
     }
    },
    "performance": {
     "type": "array",
     "description": "A list that identifies owners of the performance rights for a composition asset.",
     "items": {
      "$ref": "TerritoryOwners"
     }
    },
    "synchronization": {
     "type": "array",
     "description": "A list that identifies owners of the synchronization rights for a composition asset.",
     "items": {
      "$ref": "TerritoryOwners"
     }
    }
   }
  },
  "RightsOwnershipHistory": {
   "id": "RightsOwnershipHistory",
   "type": "object",
   "properties": {
    "kind": {
     "type": "string",
     "description": "The type of the API resource. For ownership history resources, the value is youtubePartner#rightsOwnershipHistory.",
     "default": "youtubePartner#rightsOwnershipHistory"
    },
    "origination": {
     "$ref": "Origination",
     "description": "The origination object contains information that describes the metadata source."
    },
    "ownership": {
     "$ref": "RightsOwnership",
     "description": "The ownership object contains the ownership data provided by the specified source (origination) at the specified time (timeProvided)."
    },
    "timeProvided": {
     "type": "string",
     "description": "The time that the ownership data was provided.",
     "format": "date-time"
    }
   }
  },
  "Segment": {
   "id": "Segment",
   "type": "object",
   "properties": {
    "duration": {
     "type": "string",
     "description": "The duration of the segment in milliseconds.",
     "format": "uint64"
    },
    "kind": {
     "type": "string",
     "description": "The type of the API resource. For segment resources, the value is youtubePartner#segment.",
     "default": "youtubePartner#segment"
    },
    "start": {
     "type": "string",
     "description": "The start time of the segment, measured in milliseconds from the beginning.",
     "format": "uint64"
    }
   }
  },
  "ShowDetails": {
   "id": "ShowDetails",
   "type": "object",
   "properties": {
    "episodeNumber": {
     "type": "string",
     "description": "The episode number associated with the episode."
    },
    "episodeTitle": {
     "type": "string",
     "description": "The episode's title."
    },
    "seasonNumber": {
     "type": "string",
     "description": "The season number associated with the episode."
    },
    "title": {
     "type": "string",
     "description": "The show's title"
    }
   }
  },
  "StateCompleted": {
   "id": "StateCompleted",
   "type": "object",
   "properties": {
    "state": {
     "type": "string",
     "description": "The state that the order entered."
    },
    "timeCompleted": {
     "type": "string",
     "description": "The time that the state transition occurred.",
     "format": "int64"
    }
   }
  },
  "TerritoryCondition": {
   "id": "TerritoryCondition",
   "type": "object",
   "properties": {
    "territories": {
     "type": "array",
     "description": "A list of territories. Each territory is an ISO 3166 two-letter country code..",
     "items": {
      "type": "string"
     }
    },
    "type": {
     "type": "string",
     "description": "This field indicates whether the associated policy rule is or is not valid in the specified territories."
    }
   }
  },
  "TerritoryConflicts": {
   "id": "TerritoryConflicts",
   "type": "object",
   "properties": {
    "conflictingOwnership": {
     "type": "array",
     "description": "A list of conflicting ownerships.",
     "items": {
      "$ref": "ConflictingOwnership"
     }
    },
    "territory": {
     "type": "string",
     "description": "A territories where the ownership conflict is present. Territory is an ISO 3166 two-letter country code.."
    }
   }
  },
  "TerritoryOwners": {
   "id": "TerritoryOwners",
   "type": "object",
   "properties": {
    "owner": {
     "type": "string",
     "description": "The name of the asset's owner or rights administrator."
    },
    "publisher": {
     "type": "string",
     "description": "The name of the asset's publisher. This field is only used for composition assets, and it is used when the asset owner is not known to have a formal relationship established with YouTube."
    },
    "ratio": {
     "type": "number",
     "description": "The percentage of the asset that the owner controls or administers. For composition assets, the value can be any value between 0 and 100 inclusive. For all other assets, the only valid values are 100, which indicates that the owner completely owns the asset in the specified territories, and 0, which indicates that you are removing ownership of the asset in the specified territories.",
     "format": "double"
    },
    "territories": {
     "type": "array",
     "description": "A list of territories where the owner owns (or does not own) the asset. Each territory is an ISO 3166 two-letter country code..",
     "items": {
      "type": "string"
     }
    },
    "type": {
     "type": "string",
     "description": "This field indicates whether the ownership data applies or does not apply in the specified territories."
    }
   }
  },
  "ValidateAsyncRequest": {
   "id": "ValidateAsyncRequest",
   "type": "object",
   "properties": {
    "content": {
     "type": "string",
     "description": "The metadata file contents."
    },
    "kind": {
     "type": "string",
     "description": "The type of the API resource. For this operation, the value is youtubePartner#validateAsyncRequest.",
     "default": "youtubePartner#validateAsyncRequest"
    },
    "uploaderName": {
     "type": "string",
     "description": "The uploader name."
    }
   }
  },
  "ValidateAsyncResponse": {
   "id": "ValidateAsyncResponse",
   "type": "object",
   "properties": {
    "kind": {
     "type": "string",
     "description": "The type of the API resource. For this operation, the value is youtubePartner#validateAsyncResponse.",
     "default": "youtubePartner#validateAsyncResponse"
    },
    "status": {
     "type": "string",
     "description": "The validation status."
    },
    "validationId": {
     "type": "string",
     "description": "The validation ID."
    }
   }
  },
  "ValidateError": {
   "id": "ValidateError",
   "type": "object",
   "properties": {
    "columnName": {
     "type": "string",
     "description": "The column name where the error occurred."
    },
    "columnNumber": {
     "type": "integer",
     "description": "The column number where the error occurred (1-based).",
     "format": "int32"
    },
    "lineNumber": {
     "type": "integer",
     "description": "The line number where the error occurred (1-based).",
     "format": "int32"
    },
    "message": {
     "type": "string",
     "description": "The error message."
    },
    "messageCode": {
     "type": "integer",
     "description": "The code for the error message (if one exists).",
     "format": "int32"
    },
    "severity": {
     "type": "string",
     "description": "The error severity."
    }
   }
  },
  "ValidateRequest": {
   "id": "ValidateRequest",
   "type": "object",
   "properties": {
    "content": {
     "type": "string",
     "description": "The metadata file contents."
    },
    "kind": {
     "type": "string",
     "description": "The type of the API resource. For this operation, the value is youtubePartner#validateRequest.",
     "default": "youtubePartner#validateRequest"
    },
    "locale": {
     "type": "string",
     "description": "The desired locale of the error messages as defined in BCP 47 (http://tools.ietf.org/html/bcp47). For example, \"en-US\" or \"de\". If not specified we will return the error messages in English (\"en\")."
    },
    "uploaderName": {
     "type": "string",
     "description": "The uploader name."
    }
   }
  },
  "ValidateResponse": {
   "id": "ValidateResponse",
   "type": "object",
   "properties": {
    "errors": {
     "type": "array",
     "description": "The list of errors and/or warnings.",
     "items": {
      "$ref": "ValidateError"
     }
    },
    "kind": {
     "type": "string",
     "description": "The type of the API resource. For this operation, the value is youtubePartner#validateResponse.",
     "default": "youtubePartner#validateResponse"
    },
    "status": {
     "type": "string",
     "description": "The validation status."
    }
   }
  },
  "ValidateStatusRequest": {
   "id": "ValidateStatusRequest",
   "type": "object",
   "properties": {
    "kind": {
     "type": "string",
     "description": "The type of the API resource. For this operation, the value is youtubePartner#validateStatusRequest.",
     "default": "youtubePartner#validateStatusRequest"
    },
    "locale": {
     "type": "string",
     "description": "The desired locale of the error messages as defined in BCP 47 (http://tools.ietf.org/html/bcp47). For example, \"en-US\" or \"de\". If not specified we will return the error messages in English (\"en\")."
    },
    "validationId": {
     "type": "string",
     "description": "The validation ID."
    }
   }
  },
  "ValidateStatusResponse": {
   "id": "ValidateStatusResponse",
   "type": "object",
   "properties": {
    "errors": {
     "type": "array",
     "description": "The list of errors and/or warnings.",
     "items": {
      "$ref": "ValidateError"
     }
    },
    "isMetadataOnly": {
     "type": "boolean",
     "description": "If this is a metadata-only package."
    },
    "kind": {
     "type": "string",
     "description": "The type of the API resource. For this operation, the value is youtubePartner#validateStatusResponse.",
     "default": "youtubePartner#validateStatusResponse"
    },
    "status": {
     "type": "string",
     "description": "The validation status."
    }
   }
  },
  "VideoAdvertisingOption": {
   "id": "VideoAdvertisingOption",
   "type": "object",
   "properties": {
    "adBreaks": {
     "type": "array",
     "description": "A list of times when YouTube can show an in-stream advertisement during playback of the video.",
     "items": {
      "$ref": "AdBreak"
     }
    },
    "adFormats": {
     "type": "array",
     "description": "A list of ad formats that the video is allowed to show.",
     "items": {
      "type": "string"
     }
    },
    "autoGeneratedBreaks": {
     "type": "boolean",
     "description": "Enables this video for automatically generated midroll breaks."
    },
    "breakPosition": {
     "type": "array",
     "description": "The point at which the break occurs during the video playback.",
     "items": {
      "type": "string"
     }
    },
    "id": {
     "type": "string",
     "description": "The ID that YouTube uses to uniquely identify the video associated with the advertising settings."
    },
    "kind": {
     "type": "string",
     "description": "The type of the API resource. For this resource, the value is youtubePartner#videoAdvertisingOption.",
     "default": "youtubePartner#videoAdvertisingOption"
    },
    "tpAdServerVideoId": {
     "type": "string",
     "description": "A value that uniquely identifies the video to the third-party ad server."
    },
    "tpTargetingUrl": {
     "type": "string",
     "description": "The base URL for a third-party ad server from which YouTube can retrieve in-stream ads for the video."
    },
    "tpUrlParameters": {
     "type": "string",
     "description": "A parameter string to append to the end of the request to the third-party ad server."
    }
   }
  },
  "VideoAdvertisingOptionGetEnabledAdsResponse": {
   "id": "VideoAdvertisingOptionGetEnabledAdsResponse",
   "type": "object",
   "properties": {
    "adBreaks": {
     "type": "array",
     "description": "A list of ad breaks that occur in a claimed YouTube video.",
     "items": {
      "$ref": "AdBreak"
     }
    },
    "adsOnEmbeds": {
     "type": "boolean",
     "description": "This field indicates whether YouTube can show ads when the video is played in an embedded player."
    },
    "countriesRestriction": {
     "type": "array",
     "description": "A list that identifies the countries where ads can run and the types of ads allowed in those countries.",
     "items": {
      "$ref": "CountriesRestriction"
     }
    },
    "id": {
     "type": "string",
     "description": "The ID that YouTube uses to uniquely identify the claimed video."
    },
    "kind": {
     "type": "string",
     "description": "The type of the API resource. For this resource, the value is youtubePartner#videoAdvertisingOptionGetEnabledAds.",
     "default": "youtubePartner#videoAdvertisingOptionGetEnabledAds"
    }
   }
  },
  "Whitelist": {
   "id": "Whitelist",
   "type": "object",
   "properties": {
    "id": {
     "type": "string",
     "description": "The YouTube channel ID that uniquely identifies the whitelisted channel."
    },
    "kind": {
     "type": "string",
     "description": "The type of the API resource. For whitelist resources, this value is youtubePartner#whitelist.",
     "default": "youtubePartner#whitelist"
    },
    "title": {
     "type": "string",
     "description": "Title of the whitelisted YouTube channel."
    }
   }
  },
  "WhitelistListResponse": {
   "id": "WhitelistListResponse",
   "type": "object",
   "properties": {
    "items": {
     "type": "array",
     "description": "A list of whitelist resources that match the request criteria.",
     "items": {
      "$ref": "Whitelist"
     }
    },
    "kind": {
     "type": "string",
     "description": "The type of the API response. For this operation, the value is youtubePartner#whitelistList.",
     "default": "youtubePartner#whitelistList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page of results."
    },
    "pageInfo": {
     "$ref": "PageInfo",
     "description": "The pageInfo object encapsulates paging information for the result set."
    }
   }
  }
 },
 "resources": {
  "assetLabels": {
   "methods": {
    "insert": {
     "id": "youtubePartner.assetLabels.insert",
     "path": "assetLabels",
     "httpMethod": "POST",
     "description": "Insert an asset label for an owner.",
     "parameters": {
      "onBehalfOfContentOwner": {
       "type": "string",
       "description": "The onBehalfOfContentOwner parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
       "location": "query"
      }
     },
     "request": {
      "$ref": "AssetLabel"
     },
     "response": {
      "$ref": "AssetLabel"
     },
     "scopes": [
      "https://www.googleapis.com/auth/youtubepartner"
     ]
    },
    "list": {
     "id": "youtubePartner.assetLabels.list",
     "path": "assetLabels",
     "httpMethod": "GET",
     "description": "Retrieves a list of all asset labels for an owner.",
     "parameters": {
      "labelPrefix": {
       "type": "string",
       "description": "The labelPrefix parameter identifies the prefix of asset labels to retrieve.",
       "location": "query"
      },
      "onBehalfOfContentOwner": {
       "type": "string",
       "description": "The onBehalfOfContentOwner parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
       "location": "query"
      },
      "q": {
       "type": "string",
       "description": "The q parameter specifies the query string to use to filter search results. YouTube searches for the query string in the labelName field of asset labels.",
       "location": "query"
      }
     },
     "response": {
      "$ref": "AssetLabelListResponse"
     },
     "scopes": [
      "https://www.googleapis.com/auth/youtubepartner"
     ]
    }
   }
  },
  "assetMatchPolicy": {
   "methods": {
    "get": {
     "id": "youtubePartner.assetMatchPolicy.get",
     "path": "assets/{assetId}/matchPolicy",
     "httpMethod": "GET",
     "description": "Retrieves the match policy assigned to the specified asset by the content owner associated with the authenticated user. This information is only accessible to an owner of the asset.",
     "parameters": {
      "assetId": {
       "type": "string",
       "description": "The assetId parameter specifies the YouTube asset ID of the asset for which you are retrieving the match policy.",
       "required": true,
       "location": "path"
      },
      "onBehalfOfContentOwner": {
       "type": "string",
       "description": "The onBehalfOfContentOwner parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
       "location": "query"
      }
     },
     "parameterOrder": [
      "assetId"
     ],
     "response": {
      "$ref": "AssetMatchPolicy"
     },
     "scopes": [
      "https://www.googleapis.com/auth/youtubepartner"
     ]
    },
    "patch": {
     "id": "youtubePartner.assetMatchPolicy.patch",
     "path": "assets/{assetId}/matchPolicy",
     "httpMethod": "PATCH",
     "description": "Updates the asset's match policy. If an asset has multiple owners, each owner may set its own match policy for the asset. YouTube then computes the match policy that is actually applied for the asset based on the territories where each owner owns the asset. This method supports patch semantics.",
     "parameters": {
      "assetId": {
       "type": "string",
       "description": "The assetId parameter specifies the YouTube asset ID of the asset for which you are retrieving the match policy.",
       "required": true,
       "location": "path"
      },
      "onBehalfOfContentOwner": {
       "type": "string",
       "description": "The onBehalfOfContentOwner parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
       "location": "query"
      }
     },
     "parameterOrder": [
      "assetId"
     ],
     "request": {
      "$ref": "AssetMatchPolicy"
     },
     "response": {
      "$ref": "AssetMatchPolicy"
     },
     "scopes": [
      "https://www.googleapis.com/auth/youtubepartner"
     ]
    },
    "update": {
     "id": "youtubePartner.assetMatchPolicy.update",
     "path": "assets/{assetId}/matchPolicy",
     "httpMethod": "PUT",
     "description": "Updates the asset's match policy. If an asset has multiple owners, each owner may set its own match policy for the asset. YouTube then computes the match policy that is actually applied for the asset based on the territories where each owner owns the asset.",
     "parameters": {
      "assetId": {
       "type": "string",
       "description": "The assetId parameter specifies the YouTube asset ID of the asset for which you are retrieving the match policy.",
       "required": true,
       "location": "path"
      },
      "onBehalfOfContentOwner": {
       "type": "string",
       "description": "The onBehalfOfContentOwner parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
       "location": "query"
      }
     },
     "parameterOrder": [
      "assetId"
     ],
     "request": {
      "$ref": "AssetMatchPolicy"
     },
     "response": {
      "$ref": "AssetMatchPolicy"
     },
     "scopes": [
      "https://www.googleapis.com/auth/youtubepartner"
     ]
    }
   }
  },
  "assetRelationships": {
   "methods": {
    "delete": {
     "id": "youtubePartner.assetRelationships.delete",
     "path": "assetRelationships/{assetRelationshipId}",
     "httpMethod": "DELETE",
     "description": "Deletes a relationship between two assets.",
     "parameters": {
      "assetRelationshipId": {
       "type": "string",
       "description": "The assetRelationshipId parameter specifies a value that uniquely identifies the relationship you are deleting.",
       "required": true,
       "location": "path"
      },
      "onBehalfOfContentOwner": {
       "type": "string",
       "description": "The onBehalfOfContentOwner parameter identifies the content owner that the user is acting on behalf of. This parameter supports users whose accounts are associated with multiple content owners.",
       "location": "query"
      }
     },
     "parameterOrder": [
      "assetRelationshipId"
     ],
     "scopes": [
      "https://www.googleapis.com/auth/youtubepartner"
     ]
    },
    "insert": {
     "id": "youtubePartner.assetRelationships.insert",
     "path": "assetRelationships",
     "httpMethod": "POST",
     "description": "Creates a relationship that links two assets.",
     "parameters": {
      "onBehalfOfContentOwner": {
       "type": "string",
[...]
